@use "styles" as *;

.App {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }

  &-link {
    color: $tertiary;
  }
}

body {
  text-align: center;
  background-color: $background;
  color: $light;
  overflow-x: hidden;
  font-family: $secondary-font;
  font-size: 1.1rem;
}

header {
  background-color: $secondary;
  padding: 0 1rem;
  width: 100vw;
}

main {
  flex: 1;
}

footer {
  background-color: $secondary;
  color: $primary;
  width: 100vw;
  height: auto;
  padding: 2rem 0;

  .text-start {
    @include media-breakpoint-down(sm) {
      font-size: 0.66rem;
    }
  }
}

h1 {
  font-family: $primary-font;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

i {
  font-family: $tertiary-font;
}
