@use "styles" as *;

.Dashboard {
  &__header {
    &__control {
      background-color: $secondary !important;

      &:hover {
        .Dashboard__header__single-value,
        .Dashboard__header__indicator {
          color: $tertiary-light !important;
        }
      }
    }
    &__single-value {
      color: $tertiary !important;
      font-weight: bold !important;
    }

    &__indicator {
      color: $tertiary !important;
    }

    &__menu {
      background-color: $secondary !important;
      color: $light !important;
      border: 1px solid $light !important;
    }
  }
}
